

.Titulos h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Abel', Helvetica;
    font-weight: normal;
    color: #455a10;
    font-size: 46.2px;
    text-align: center;
    letter-spacing: 4.62px;
    line-height: normal;
  }

.SubTitulo{
    font-family: 'Brawler', Helvetica;
    font-weight: normal;
    color: #455a10;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.30px;
    line-height: normal;
}

  .Termos {
    width: 100%;
    width: 250px;
    height: 43px;
    background-color: #455a10;
    border-radius: 4px;
    font-family: 'Brawler', Helvetica;
    font-size: 18.3px;
    letter-spacing: 1.83px;
    color: #fff5e7;
    border: none;
    cursor: pointer;
  }
  
  .Prosseguir {
    width: 100%;
   width: 250px;
    height: 43px;
    background-color: #4B4E42;
    border-radius: 4px;
    font-family: 'Brawler', Helvetica;
    font-size: 18.3px;
    letter-spacing: 1.83px;
    color: #fff5e7;
    border: none;
    cursor: pointer;
  }

 .AddAosFavs{
  display: flex;
  justify-content: center;
  
 }

 .Boto{
  margin-top: 5vh;
 }